@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center mt-5">
	^_^
	<p class="lead">Search and watch videos without any distractions.</p>
	<span>
		No algorithm, no endless scrolling, no tracking, no data collection, no cookies, no bullshit.
	</span>	
</div>
