@page "/video/{videoId}"

<PageTitle>
	Video
</PageTitle>

@code {
	[Parameter] public string videoId { get; set; } = string.Empty;

	private bool isLoading = true;
	MarkupString EmbedHtml;

	protected async override Task OnInitializedAsync()
	{
		isLoading = true;

		EmbedHtml = Embed.Decode(videoId, 1008, 567);

		isLoading = false;
	}
}


@if (isLoading)
{
	<div class="d-flex justify-content-center align-items-center vh-100">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
}
else
{
	<div class="position-absolute top-50 start-50 translate-middle">
		@EmbedHtml
	</div>
}