<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <!-- Logo and name -->
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="/img/logo.png" width="40" alt="Logo" class="me-2">
            YouTube Indistract
        </a>

        <!-- Search (desktop) -->
        <div class="mx-auto desktop-search">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search on youtube..." aria-label="Search">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>


        <!-- Social icons (desktop) and mobile buttons-->
        <div class="d-flex align-items-center ms-auto">
            <!-- Desktop social icons -->
            <div class="desktop-social d-none d-md-flex gap-3 ">
                <a href="https://github.com/zaminalili/youtube-indistract"><i class="fa-brands fa-github"></i></a>
            </div>

            <!-- Mobile icons -->
            <div class="mobile-icons d-flex d-md-none gap-2">
                <button class="btn btn-link" onclick="toggleMobileSearch()" aria-label="Axtar">
                    <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSocial" aria-controls="offcanvasSocial" aria-label="Sosial">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
    </div>
</nav>

<!-- Mobile search input (under the navbar) -->
<div id="mobileSearchForm" class="mobile-search-form">
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search on youtube..." aria-label="Search">
    </form>
</div>

<!-- Offcanvas social media panel -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSocial" aria-labelledby="offcanvasSocialLabel">
    <div class="offcanvas-header">
        @* <h5 class="offcanvas-title" id="offcanvasSocialLabel">Youtube Indistract</h5> *@
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Bağla"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column gap-3">
        <a href="https://github.com/zaminalili/youtube-indistract">
            <i class="fa-brands fa-github"></i>
            Source code
        </a>
    </div>
</div>

